<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Kata.ai</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Hi, {{ username }}</h3>
              <p class="mb-4">You can close this page and return to your CLI. It should now be logged in.</p>
            </div>
            <input type="button" value="Log Out" id="logout" class="btn btn-block btn-primary">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="wsServer" style="display: none;">{{ wsServer }}</div>
  </div>

  
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
    </script>
    <script>
      $(document).ready(function() {
        const ws = new WebSocket($('#wsServer').text());
        ws.onopen = function() {
          ws.send(JSON.stringify({ 
              token: getCookie('token'), 
              username: getCookie('username')
            })
          );
        };

        $('#logout').click(function() {
          document.getElementById("logout").disabled = true

          $.ajax({
            type: 'DELETE',
            url: '/logout',
            success: function(html) {
              window.location.reload();
            },
            error: function() {
              document.getElementById("logout").disabled = false
              alert('Error !')
            }
          });
        });
      });
    </script>
  </body>
</html>